body {
    background-color: #ffffff;
    width: 100%;
    display: flexbox;
    align-items: center;
    justify-content: center;
    
}
#googleimage1 {
    width: 40%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    width: 150px;
    padding: 5px;
    height: 35px;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border-color: #f2f2f2;
    width: 20%;
}
.searchbar {
    padding: 5px;
    height: 20px;
    border-radius: 25px;
    border-color: #f2f2f2;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.bottom, .top {
    font: 12px "Roboto",arial,sans-serif;
    font-weight: lighter;
    padding: 7px;
    margin: 1%;
    border: none;
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.center{
    border: none;
}