body{
    display:block;
}
.googlelogo {
    height: 350px;
    width: 500px;
    position: static;
    box-align: center;
    padding-right: 10px;
    padding-top: 100px;
    padding-left: 90px
}
.logo {
    padding-left: 140px;
}
.searchbox {
    padding-left: 130px;
}
.top {
border:none;
height: 40px;
width: 100%;
font-family: arial, sans-serif;
font-size: small;
text-decoration: none;
position: fixed;
bottom: 90%;
padding-left: 50px;
padding-bottom: 10px;
}


.center {
border:none;
height: 50px;
width: 100%;
font-family: arial, sans-serif;
text-decoration: none;
padding-left: 100px;
}


.bottom {
border:none;
height: 40px;
width: 100%;
background-color: rgb(242, 242, 242);
font-family: arial, sans-serif;
font-size: small;
text-decoration: none;
position: fixed;
top: 94%;
left: 0%;
padding-left: 50px;
padding-top: 10px;
}

.buttons {
    border-radius: 10px;
    margin-left: 250px;
    margin-top: 25px;
    border-color: whitesmoke;
    width: 150px;
    height: 30px;
}
#lucky {
margin-left: 50px;
}
#submit {
margin-left: 300px;
}
/* IDs for Bottom class */
#advertising {
padding-left: 5px;
padding-right: 15px;
    
}

#business {
padding-left: 15px;
padding-right: 15px;
    
}
#howsearchworks {
padding-left: 15px;
padding-right: 15px;
    
}
#carbon {
padding-left: 175px;
}
#privacy {
padding-left: 230px;
padding-right: 20px;
}
#terms {
padding-left: 20px;
padding-right: 20px;
}
#settings {
padding-left: 20px;
padding-right: 20px;
}
#advertising:hover {
text-decoration:  #b8b8b8;
}

#business:hover {

}
#howsearchworks:hover {

}
#carbon:hover {

}
#privacy:hover {

}
#terms:hover {

}
#settings:hover {

}
/* IDs for top class */
#about {
padding-left: 20px;
padding-right: 20px;
padding-top: 100px;
}
#store {
padding-left: 20px;
padding-right: 20px;
}
#gmail {
padding-left: 800px;
padding-right: 20px;
}
#images {
padding-left: 20px;
padding-right: 20px;
}
#about:hover {

}
#store:hover {

}
#gmail:hover {

}
#images:hover {

}
/* IDs for center class */
#searchbar {
    height: 30px;
    width: 700px;
    border-radius: 15px;
    text-align: center;
    border-color: whitesmoke;
}
#searchbar:hover {
background-color: #e0e0e0;
}
#submit:hover {
background-color: #e0e0e0;
}
#lucky:hover {
background-color: #e0e0e0;
}